/*
  Styles for Cuckoo Coffee Online Order System
*/

* {
    font-family:"Droid Sans";
    font-face:"Droid Sans";
}

.large-text {
    font-size:24px;
}

.medium-text {
    font-size:14px;
}

.small-text {
    font-size:12px;
}

body {
    display:block;
    width:100%;
    margin:0px;
}

.styled-radio {
    margin-top:25px;
    -moz-appearance:none;
    -webkit-appearance:none;
    appearance:none;
    width:20px;
    height:20px;
    border:solid 1px #000000;
    border-radius:10px;
    cursor:pointer;
    background:#FFFFFF;
    display:inline-block;
}
.styled-radio-checked {
    position:relative;
    height:12px;
    width:12px;
    left:3px;
    top:3px;
    border:solid 1px #4A412F;
    background: #4A412F;
    border-radius:8px;
}
.styled-radio-text {
    display:inline-block;
    position:relative;
    top:-5px;
    margin-left:12px;
}
.cc-main-wrapper {
    position:relative;
    width:100%;
    background: -moz-linear-gradient(#4A412F,#909080); /*FF 3.6+*/
    background: -ms-linear-gradient(#4A412F,#909080); /*IE 10*/
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#4A412F),color-stop(100%,#909080)); /*Safari4+, Chrome2+*/
    background: -webkit-linear-gradient(#4A412F,#909080); /*Safari5.1+*/
    background: -o-linear-gradient(#4A412F,#909080); /*Opera 11.10*/
    -ms-filter: "progrid:DXImageTransform.Microsoft.gradient(startColorstr='#4A412F',endColorstr='#909080')"; /* IE 8+ */
    background: linear-gradient(#4A412F,#909080);
    padding-bottom:120px;
}

.cc-header {
    position:relative;
    top:0px;
    height:120px;
    width:100%;
}

.cc-footer {
    position:absolute;
    bottom:50px;
    width:100%;
    color:#FFFFFF;
    font-size:16px;
    text-align:center;
    margin-top:50px;
}

#header-logo {
    display:inline;
    position:absolute;
    left:25px;
    bottom:10px;
}

#header-right-background {
    display:inline;
    position:absolute;
    top:0px;
    right:0px;
}

.cc-content-wrapper {
    position:relative;
    top:0px;
    margin-left:25px;
    margin-right:25px;
}

.cc-header-buttons {
    position:relative;
    top:0px;
    height:28px;
    width:100%;
    background:#4A412F;
    border:1px solid black;
}

.cc-header-button {
    display:inline-block;
    width:auto;
    height:100%;
    padding-top:5px;
    line-height:100%;
    padding-left:8px;
    padding-right:8px;
    color:#FFFFFF;
    cursor:pointer;
}

.cc-header-button.active, #home-button.active{
    background:#E4C47C;
    color:#000000;
}

.cc-header-button:hover {
    background:#E4C47C;
    color:#000000;
}

#home-button {
    color:#E4C47C;
}
#home-button:hover {
    color:#000000;
}

.cc-banner {
    position:relative;
    top:0px;
    width:100%;
    height:146px;
    background:#000000;
}

#banner-art {
    float:right;
}

#banner-text-wrapper {
    position:relative;
    height:100%;
    float:left;
}

#error-message-wrapper {
    position:absolute;
    bottom:0px;
    height:45px;
    width:350px;
    margin-left:auto;
    margin-right:auto;
    border:#000000;
    background:#E4C47C;
}

.cc-inner-page-wrapper {
    position:relative;
    display:block;
    top:0px;
    width:100%;
    height:auto;
    background:#E3DCC0;
    padding-bottom:55px;
}

.order-steps {
    position:relative;
    top:0px;
    height:60px;
    margin-left:25px;
    margin-right:25px;
}

.order-step {
    display:inline-block;
    vertical-align:middle;
    color:#CDCDCF;
    height:100%;
    width:30%;
}

.order-step.active {
    color:#4A412f;
}

.order-step.completed {
    color:#0093D9;
}

.big-step-text {
    display:inline-block;
    position:relative;
    font-size:36px;
    font-family:Acknowledgement;
    font-face:Acknowledgement;
    top:13px;
    vertical-align:middle;
}

.small-step-text {
    position:relative;
    display:inline-block;
    font-size:16px;
    font-weight:bold;
    top:15px;
    vertical-align:middle;
}

.order-content {
    position:relative;
    background:#ECE7D4;
    top:0px;
    margin-left:12px;
    margin-right:12px;
    height:auto;
    padding-bottom:50px;
    padding-top:13px;
}

#order-header-text {
    margin-left:13px;
    margin-right:13px;
    font-size:16px;
}

#location-text {
    margin-left:13px;
    margin-right:13px;
    margin-top:25px;
    font-size:16px;
}

.order-type-box {
    position:relative;
    display:inline-block;
    height:92px;
    width:415px;
    margin-top:13px;
    border-radius:8px;
    cursor:pointer;
    background:#EBEBEB;
    border:2px solid #B1B1AC;
}
.order-type-box .large-text {
    color:#0093D9;
}
.order-type-box .medium-text {
    color:##000000;
}
.order-type-box .small-text {
    color:#B1B1AC;
}

.order-type-box:hover {
    background:#D4EDF9;
    border:2px solid #0093D9;
}

.order-type-box.selected {
    background:#7BCDF4;
    border:2px solid #0093D9;
}
.order-type-box.selected .large-text {
    color:#FFFFFF;
}
.order-type-box.selected:hover {
    background:#7BCDF4;
    border:2px solid #0093D9;    
}
.order-type-box.selected:hover .large-text {
    color:#FFFFFF;
}

.order-type-box:hover .large-text {
    color:#000000;
}
.order-type-box:hover .medium-text {
    color:#000000;
}
.order-type-box:hover .small-text {
    color:#B1B1AC;
}

.order-type-text {
    position:absolute;
    text-align:center;
    margin-right:25px;
}

#singular-order-type-text {
    right:75px;
    top:15px;
}

#multiple-order-type-text {
    right:75px;
    top:12px;
}

#delivery-date-today-text {
    top:15px;
    right:150px;
    text-align:left;
}

#delivery-date-future-text {
    top:15px;
    right:100px;
    text-align:left;
}

#singular-order-type-box {
    margin-left:13px;
}

#multiple-order-type-box,#delivery-date-future-box {
    margin-left: 30px;
}

.order-type-img {
    position:absolute;
    top:15px;
}

#delivery-date-today-img {
    left:30px;
    top:30px;
}

#delivery-date-future-img {
    left:30px;
    top:30px;
}

.order-type-selected-img {
    position:absolute;
    top:15px;
    right:25px;
}
#singular-order-type-img {
    left:30px;
}

#multiple-order-type-img {
    left:20px;
}

#delivery-method-wrapper {
    margin-top:25px;
    margin-left:13px;
    margin-right:13px;
}

#order-time-wrapper {
    margin-left:13px;
    margin-right:13px;
}

.wrapper-label {
    font-weight:bold;
}
.wrapper-label.alt {
    color:#727272;
    margin-bottom:5px;
}

#delivery-zipcode-wrapper {
    margin-top:25px;
    margin-left:43px;
}

#delivery-zipcode-img {
    display:inline;
    vertical-align:middle;
}

#delivery-zipcode-location-wrapper {
    display:block;
    position:relative;
    width:450px;
    top:-35px;
    left:250px;
}

.city-state-text {
    font-weight:bold;
    color:#000000;
}
.city-state-text.error {
    color:#727272;
}

.delivery-details {
    color:#727272;
}