/*
  Styles for Cuckoo Coffee Online Order System
*/

* {
    font-family:droid-sans;
    font-face:droid-sans;
}

.large-text {
    font-size:24px;
}

.medium-text {
    font-size:14px;
}

.small-text {
    font-size:12px;
}

body {
    display:block;
    position:absolute;
    width:100%;
    height:100%;
    margin:0px;
}

.cc-main-wrapper {
    position:absolute;
    height:100%;
    width:100%;
    background: -moz-linear-gradient(#4A412F,#909080); /*FF 3.6+*/
    background: -ms-linear-gradient(#4A412F,#909080); /*IE 10*/
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#4A412F),color-stop(100%,#909080)); /*Safari4+, Chrome2+*/
    background: -webkit-linear-gradient(#4A412F,#909080); /*Safari5.1+*/
    background: -o-linear-gradient(#4A412F,#909080); /*Opera 11.10*/
    -ms-filter: "progrid:DXImageTransform.Microsoft.gradient(startColorstr='#4A412F',endColorstr='#909080')"; /* IE 8+ */
    background: linear-gradient(#4A412F,#909080);
}

.cc-header {
    position:absolute;
    top:0px;
    height:120px;
    width:100%;
}

#header-logo {
    display:inline;
    position:absolute;
    left:25px;
    bottom:10px;
}

#header-right-background {
    display:inline;
    position:absolute;
    top:0px;
    right:0px;
}

.cc-content-wrapper {
    position:absolute;
    top:120px;
    left:25px;
    right:25px;
}

.cc-header-buttons {
    position:absolute;
    top:0px;
    height:28px;
    width:100%;
    background:#4A412F;
    border:1px solid black;
}

.cc-header-button {
    display:inline-block;
    width:auto;
    height:100%;
    padding-top:5px;
    line-height:100%;
    padding-left:8px;
    padding-right:8px;
    color:#FFFFFF;
    cursor:pointer;
}

.cc-header-button.active, #home-button.active{
    background:#E4C47C;
    font-weight:bold;
    color:#000000;
}

.cc-header-button:hover {
    background:#E4C47C;
    font-weight:bold;
    color:#000000;
}

#home-button {
    color:#E4C47C;
    font-weight:bold;
}
#home-button:hover {
    color:#000000;
}

.cc-banner {
    position:absolute;
    top:30px;
    width:100%;
    height:146px;
    background:#000000;
}

#banner-art {
    float:right;
}

#banner-text-wrapper {
    position:relative;
    height:100%;
    float:left;
}

#error-message-wrapper {
    position:absolute;
    bottom:0px;
    height:45px;
    width:350px;
    margin-left:auto;
    margin-right:auto;
    border:#000000;
    background:#E4C47C;
}

.cc-inner-page-wrapper {
    position:relative;;
    display:block;
    top:176px;
    width:100%;
    height:auto;
    background:#E3DCC0;
}

.order-steps {
    position:relative;
    top:0px;
    height:60px;
    left:25px;
    right:25px;
}

.order-step {
    display:inline-block;
    color:#b7b2a0;
    height:100%;
    width:30%;
}

.order-step.active {
    color:#4a412f;
}

.big-step-text {
    display:inline-block;
    font-size:36px;
    font-family:Acknowledgement;
    font-face:Acknowledgement;
}

.small-step-text {
    position:relative;
    display:inline-block;
    font-size:16px;
    font-weight:bold;
    top:-3px;
}

.order-content {
    position:relative;
    background:#ECE7D4;
    top:0px;
    margin-left:12px;
    margin-right:12px;
    height:auto;
    padding-bottom:50px;
    padding-top:13px;
}

#order-header-text {
    margin-left:13px;
    font-size:16px;
}

.order-type-box {
    position:relative;
    display:inline-block;
    height:92px;
    width:415px;
    border-radius:8px;
    cursor:pointer;
    background:#EBEBEB;
    border:2px solid #B1B1AC;
}
.order-type-box .large-text {
    color:#0093D9;
}
.order-type-box .medium-text {
    color:#000000;
}
.order-type-box .small-text {
    colror:#B1B1AC;
}

.order-type-box:hover {
    background:#D4EDF9;
    border:2px solid #0093D9;
}

.order-type-box:hover .large-text {
    color:#000000;
}
.order-type-box:hover .medium-text {
    color:#000000;
}
.order-type-box:hover .small-text {
    color:#B1B1AC;
}

.order-type-text {
    position:absolute;
    text-align:center;
    margin-right:25px;
}

#singular-order-type-text {
    right:75px;
    top:15px;
}

#multiple-order-type-text {
    right:55px;
    top:12px;
}

#singular-order-type-box {
    margin-left:13px;
}

#multiple-order-type-box {
    margin-left: 30px;
}

.order-type-img {
    position:absolute;
    top:15px;
}

#singular-order-type-img {
    left:30px;
}

#multiple-order-type-img {
    left:20px;
}