<html>
  <head>
    <title>Cuckoo Coffee</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <script src="/static/js/jquery-1.7.1.min.js"></script>
    <script src="/static/js/script.js"></script>
  </head>
  <body>
    <div class="cc-main-wrapper">
      <div class="cc-header">
	<img src="/static/img/logo.png" id="header-logo">
	<img src="/static/img/background.png" id="header-right-background">
      </div>
      <div class="cc-content-wrapper">
	<div class="cc-header-buttons">
	  <div class="cc-header-button active" id="home-button" onclick="load_tab_content('home');">Home</div>
	  <div class="cc-header-button" id="story-button" onclick="load_tab_content('story');">Our Story</div>
	  <div class="cc-header-button" id="menu-button" onclick="load_tab_content('menu');">Menu</div>
	  <div class="cc-header-button" id="info-button" onclick="load_tab_content('info');">Directions & Hours</div>
	  <div class="cc-header-button" id="order-button" onclick="load_tab_content('order');">Order Online</div>
	</div>
	<div class="cc-banner">
	  <div id="banner-text-wrapper">
	    
	  </div>
	  <img src="/static/img/banner-latte-art.png" id="banner-art">
	</div>
	<div class="cc-inner-page-wrapper">
	  
	</div>
      </div>
      <div class="cc-footer">
	123 Super Tech Park Drive, Westford MA<br/>
	(978) 555-1212 hi@cuckoocoffee.com
      </div>
      <div id="error-message-wrapper" style="display:none;">
	<div class="message-text"></div>
      </div>
    </div>
  </body>
</html>
