<div class="order-steps">
  <div class="order-step active" id="step1">
    <div class="big-step-text">Step 1:</div>
    <div class="small-step-text">Order Basics</div>
  </div>
  <div class="order-step" id="step2">
    <div class="big-step-text">Step 2:</div>
    <div class="small-step-text">The Drinks</div>
  </div>
  <div class="order-step" id="step3">
    <div class="big-step-text">Step 3:</div>
    <div class="small-step-text">Finish Up</div>
  </div>
</div>
<div class="order-content">
  <div id="order-header-text">
    Ready to start your order? I bet you can smell those beans
    now. Here we go:
  </div>
  <div class="order-type-box" id="singular-order-type-box">

  </div>
  <div class="order-type-box" id="multiple-order-type-box">

  </div>
</div>
