<link rel="stylesheet" type="text/css" href="/static/css/style.css">
<script src="/static/js/jquery.jqdate.js"></script>
<div class="order-steps">
  <div class="order-step active" id="step1">
    <div class="big-step-text">Step 1:</div>
    <div class="small-step-text">Order Basics</div>
  </div>
  <div class="order-step" id="step2">
    <div class="big-step-text">Step 2:</div>
    <div class="small-step-text">The Drinks</div>
  </div>
  <div class="order-step" id="step3">
    <div class="big-step-text">Step 3:</div>
    <div class="small-step-text">Finish Up</div>
  </div>
</div>
<div class="order-content">
  <div id="order-header-text">
    Ready to start your order? I bet you can smell those beans
    now. Here we go:
  </div>
  <div class="order-type-box" id="singular-order-type-box" onclick="start_order('singular');">
    <img class="order-type-img" id="singular-order-type-img"
    src="/static/img/order-justforme.png">
    <div class="order-type-text" id="singular-order-type-text">
      <div class="large-text">
	Order just for me
      </div>
      <div class="medium-text">
	Pick up at Cuckoo Coffee
      </div>
    </div>
  </div>
  <div class="order-type-box" id="multiple-order-type-box" onclick="start_order('multiple');">
    <img class="order-type-img" id="singular-order-type-img" src="/static/img/order-group.png">
    <div class="order-type-text" id="multiple-order-type-text">
      <div class="large-text">
	Group Order
      </div>
      <div class="medium-text">
	Pick up or <b>free delivery</b>
      </div>
      <div class="small-text italics">
	(minimum order of 5 for free delivery)
      </div>
    </div>
    <img class="order-type-selected-img" src="/static/img/checkmark-large.png" style="display:none;"/>
  </div>
  <div id="location-text">
    Where is Cuckoo Coffee located? We're at 123 Super Tech Park Drive
    in Westfor, Massachusetts 01886.<br>
    Not sure if you can get here or not?<a href="#">Get Directions</a>
  </div>
  <div id="multiple-order-content" style="display:none;">
  </div>
</div>
